.accordion-button {
    background-color: transparent;
    color: inherit;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
}

.accordion-button:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
}

.accordion-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.noСomments {
    min-height: 50vh;
    font-size: 26px;
}

.comment-username {
    font-size: 24px;
    font-weight: 600;
}

.comment-commentDate {
    font-size: 20px;
}

.commentData {
    font-size: 20px;
}

.accordion {
    box-shadow: 0px 0px 20px 0px rgb(103 103 103 / 14%);
}

.comment-productImg {
    width: 200px;
    height: 200px;
}

.comment-productName {
    font-size: 37.5px;
    word-wrap: break-word;
}

.comment-productDesc {
    font-size: 25.5px;
}

.comment-showList {
    font-size: 20px;
    display: flex;
    /*justify-content-center align-items-center*/
    justify-content: center;
    align-items: center;
}

@media (max-width: 1030px) {
    .comment-productName {
        font-size: 30.5px;
    }

    .comment-showList {
        font-size: 18px;
    }

    .comment-productDesc {
        font-size: 18.5px;
    }
}

@media (max-width: 830px) {
    .comment-productImg {
        width: 140px;
        height: 140px;
    }

    .comment-productName {
        font-size: 25.5px;
    }

    .comment-productDesc {
        font-size: 13.5px;
    }

    .comment-username {
        font-size: 22px;
    }

    .comment-commentDate {
        font-size: 18px;
    }

    .commentData {
        font-size: 18px;
    }

}

@media (max-width: 730px) {
    .comment-productName {
        font-size: 21.5px;
    }

    .comment-productDesc {
        font-size: 11.5px;
    }

    .comment-showList {
        font-size: 14px;
    }

    .comment-username {
        font-size: 19px;
    }

    .comment-commentDate {
        font-size: 17px;
    }

    .commentData {
        font-size: 17px;
    }
}

@media (max-width: 660px) {
    .comment-productImg {
        width: 125px;
        height: 125px;
    }
}

@media (max-width: 576px) {
    .comment-showList {
        display: none;
    }
}

@media (max-width: 476px) {
    .noСomments {
        min-height: 40vh;
        font-size: 18px;
    }
}

@media (max-width: 415px) {
    .comment-productImg {
        width: 110px;
        height: 110px;
    }

    .comment-productName {
        font-size: 18.5px;
    }

    /*.comment-productDesc {*/
    /*    font-size: 11.5px;*/
    /*}*/
}

@media (max-width: 320px) {
    .comment-productName {
        font-size: 16px;
    }
}