input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-price {
    text-align: center;
    padding: 5px 0px;
}

.slider-container {
    max-width: 230px;
}

@media (max-width: 545px) {
    .slider-container {
        max-width: 131px;
    }
}